body {
    font-family: Arial, sans-serif;
    background-color: #0B1437;
    color: #ccc;
    margin: 10px;
}
#username-link {
    display: block; /* Make the <a> a block-level element */
    margin-bottom: 10px; /* You can adjust the value as needed */
    font-weight: bold;
}
.password-change-container {
    max-width: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    text-align: left; /* This will align all inner text items to the left */
    
}

.input-container {
    position: relative;

}

.icon-help {
    cursor: pointer;
    color: rgb(238, 238, 238);
    margin-left: 0px;
    position: relative;
    z-index: 40;
}

.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 340px;
    background-color: #111C44;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    top: -5px;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 200px;
    border: 1px solid #cdd1d8;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

img.passwordchange-image {
    height: 34px;
    width: 34px;
    margin-right: 5px;
}

.passwordchange-image {
    display: flex;
    align-items: center;
}

/* Input fields styling */
input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 0px solid #f1eeee;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    transition: border-color 0.3s, box-shadow 0.3s;
    flex-grow: 1;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type="password"]:focus, input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 2px 4px 0 rgba(0, 112, 255, 0.24);
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

input[type="password"]::placeholder, input[type="text"]::placeholder {
    color: #999;
    margin-bottom: 10px;
    width: 100%;
}

p {
    margin-bottom: 10px;
}

.toggle-password {
    position: absolute;   /* Changed to absolute positioning */
    right: 10px;         /* Adjusted right positioning */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.password-wrapper {
    display: flex;           /* This will line up its children (input + icons) horizontally */
    align-items: center;     /* Center the children vertically */
    justify-content: flex-start; /* This will align all children to the left */
    position: relative;      /* Allow the children to be positioned relative to this */
    border: 0px solid #ccc;
    border-radius: 4px;
    width: 280px;            /* Adjust this to your desired width */
    margin-right: 0px;
}
label
{
 font-size: large;
 margin-top: 10px;
}
