/* Basic CSS styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #0B1437;
    color:#f2f2f2;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    /* max-width: 800px;
    margin: 0 auto; */
    /* padding: 20px; */
    background-color: #0B1437;
    margin-left: 20px;
}

label {
    font-weight: bold;
}

select , input[type="date"] {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0E183F;
}

canvas {
    margin-top: 20px;
}
button
{
    padding: 12px 20px;
    margin-left: 10px;
    background-color: #10428D;
    color: #ddd;
    border-radius:5px;
    border: 1px solid #ddd;
}
button:hover {
background-color: #0056b3; /* Change color on hover */
}

#chartContainer {
width: 100%;  
height: 40vh;  
}
canvas {
width: 100% !important;
height: 100% !important;
}
@media (max-width: 768px) {
table, th, td {
font-size: 12px; 
}
}