:root {
  --primary-color: #0D3360;
  --secondary-color: #3660d4;
  /* --black: #000000; */
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267B2;
  --google-color: #DB4437;
  --twitter-color: #1DA1F2;
  --insta-color: #E1306C;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');/* Default styles for all screen sizes */

/* Styles for phones */
@media (max-width: 767px) {
  /* Adjust your CSS properties for phone screens here */
}

/* Styles for tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust your CSS properties for tablets and small desktops here */
}

/* Styles for regular desktop screens */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Adjust your CSS properties for regular desktop screens here */
}

/* Styles for larger screens */
@media (min-width: 1200px) {
  /* Adjust your CSS properties for larger screens here */
}

html {
  font-size: 62.5%; }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }
a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login,
.login * {
  box-sizing: border-box;
  align-items: center;
}
.login {
  background: linear-gradient(
    259.48deg,
    rgba(196, 230, 245, 1) 0%,
    rgba(16, 97, 172, 0.62) 100%
  );
  min-height: 100vh;
  position:inherit;
  overflow: hidden;
  align-items: center;
}

.main {
  /* background: #ffffff; */
  border-radius: 24px;
  width: 1288px;
  height: 798px;
  position: absolute;
  left: 15%;
  top: 10%;
  box-shadow: 0px 72px 80px -48px rgba(34, 58, 40, 1);
  overflow: hidden;
}

.illustration 
{
  width: 663px;
  height: 714px;
  position: absolute;
  left: 667px;
  top: 0px;
}
.rectangle-4 {
  background: #c4e6f5;
  width: 713px;
  height: 801px;
  position: absolute;
  left: -91px;
  top: 0px;
}
.login-signup-container {
  width: 575px;
  height: 798px;
  position: absolute;
  left: 0px;
  top: -64px;
}

.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 64px;
  top: 90px;
}
.power-meter-1-1 {
  flex-shrink: 0;
  width: 50px;
  height: 53px;
  position: relative;
}
.energy-meter-management-system {
  color: #cfd0d0;
  text-align: left;
  font: 600 32px/100% "Inter", sans-serif;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}
.welcome-back-please-login-to-your-account {
  color: #cfd0d0;
  text-align: left;
  font: 400 16px/100% "Inter", sans-serif;
  position: absolute;
  left: 64px;
  top: 232px;
  width: 422px;
}
.log-in {
  color: #cfd0d0;
  text-align: left;
  gap: 24px;
  font: 500 20px/100% "Inter", sans-serif;
  position: absolute;
  left: 64px;
  top: 183px;
  width: 422px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 422px;
  position: absolute;
  left: 64px;
  top: 280px;
}
.username {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.username2 {
  color: #cfd0d0;
  text-align: left;
  font: 600 16px/100% "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.frame-2 {
  background: aliceblue;
  border-radius: 8px;
  /* border-style: solid; */
  border-color: #182a39;
  border-width: 0.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.reactive-energy-gmail-com {
  color: #cfd0d0;
  text-align: left;
  font: 400 16px/24px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.vector {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  right: 20px;
}
.password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.password2 {
  color: #cfd0d0;
  text-align: left;
  font: 600 16px/100% "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.frame-14 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 12px;
  position: relative;
}
.ellipse-2 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.ellipse-3 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.ellipse-4 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.ellipse-5 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.ellipse-6 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.ellipse-7 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.ellipse-8 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.ellipse-9 {
  background: #cfd0d0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.eye-off {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  right: 20px;
}
.extra {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  padding: 15px;
}
.remember {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.check-box-default {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.remember-me {
  color: #cfd0d0;
  text-align: left;
  font: 400 16px/100% "Inter", sans-serif;
  position: relative;
}
.forgot-password {
  color: #cfd0d0;
  text-align: right;
  font: 400 16px/100% "Inter", sans-serif;
  text-decoration: underline;
  position: relative;
}
.frame-16 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-login {
  background: #029664;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  width: 80px;
}
.login2 {
  color: #ffffff;
  text-align: center;
  font: 600 16px/100% "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.button-login2 {
  border-radius: 8px;
  border-style: solid;
  border-color: #029664;
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.sign-up {
  color: #029664;
  text-align: center;
  font: 600 16px/100% "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.don-t-have-an-account-sign-up {
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 64px;
  top: 620px;
  width: 382px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background .5s linear;
}
.don-t-have-an-account-sign-up-span {
  color: #cfd0d0;
  font: 400 16px "Inter", sans-serif;
}
.don-t-have-an-account-sign-up-span2 {
  color: #1e1e1e;
  font: 400 16px "Inter", sans-serif;
}
.don-t-have-an-account-sign-up-span3 {
  color: #f39404;
  font: 400 16px "Inter", sans-serif;
}
.don-t-have-an-account-sign-up-span4 {
  color: #1e1e1e;
  font: 400 16px "Inter", sans-serif;
}
.corporate-design-trifold-brochure-1-1 {
  width: 720px;
  height: auto;
  position: absolute;
  left: 96%;
  top: 25%;
}

/* /////////////// */

.input-group {
  position: relative;
  width: 100%;
  margin: 2rem 0;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
}

.input-group input {
  width: 100%;
  padding: 1.2rem 3.5rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  outline: none;
  background-color: aliceblue;
}

.input-group input:focus {
  border: 0.125rem solid var(--primary-color);
}

.pointer {
  cursor: pointer;
}

.frame-16 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.button-signup {
  border-radius: 8px;
  border-style: solid;
  border-color: #029664;
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.sign-up3 {
  color: #029664;
  text-align: center;
  font: 600 16px/100% "Inter", sans-serif;
  position: relative;
  flex: 1;
}

.container.sign-in .form.sign-in,
.container.sign-in .social-list.sign-in,
.container.sign-in .social-list.sign-in>div,
.container.sign-up .form.sign-up,
.container.sign-up .social-list.sign-up,
.container.sign-up .social-list.sign-up>div {
  transform: scale(1);
}

.container.sign-in::before {
  transform: translate(0, 0);
  right: 50%;
}

/* ////////////////////////////// */
.already-have-an-account-login {
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 63px;
  top: 705px;
  width: 324px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.already-have-an-account-login-span {
  color: #cfd0d0;
  font: 400 16px "Inter", sans-serif;
}

.already-have-an-account-login-span2 {
  color: #f39404;
  font: 400 16px "Inter", sans-serif;
}
 
/* ///////////////////////////////////////////////////// */
/* Styles for regular desktop screens */
@media (min-width: 992px) and (max-width: 1199px) {
  .login {
    background: linear-gradient(
      259.48deg,
      rgba(196, 230, 245, 1) 0%,
      rgba(116, 41, 167, 0.62) 100%
    );
    height: 100%;
    position:inherit;
    overflow: hidden;
    align-items: center;
  }
  
  .main {
    border-radius: 24px;
    width: 1288px;
    height: 798px;
    position: absolute;
    left: 15%;
    top: 10%;
  }
  
  .illustration 
  {
    width: 663px;
    height: 714px;
    position: absolute;
    left: 667px;
    top: 0px;
  }

  /* Adjust your CSS properties for regular desktop screens here */
}

/* ////////////////////////////////////////////////////////////// */

.card{
  width: 600px;
  height: 800px;
  left: 328px;
  top: 702px;
  perspective: 1000px;
  font-family: verdana;
  border-radius: 10px;
  
}
.card__inner{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s linear;
  border-radius: 10px;
  background: #04214d;
}
.face{
  position: absolute;
  width:100%;
  height: 100%;
  left: 10px;
  top: 1px;
  backface-visibility: hidden;
  border-radius: 10px;
}
.back{
  overflow: hidden;
  z-index: -1;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.back::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
 
  transform: rotateY(180deg);
}
.front,  .back{
  transition: all .5s linear;
}
/* Front Card */
.front{
  z-index: 1;
}

.flip-me{
  position: absolute;
  width: 110px;
  left: 223px;
  top: 620px;
  font-size: 14px;
  font-family: verdana;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background .5s linear;
  cursor: pointer;
}
.flip-me:hover,
.flip-me:active{

}
.flip-me:active{
  box-shadow: none;
}

/* Back Card */
.back {
}
.undo{
  width: 20px;
}

.return{
  position: absolute;
  bottom: 0;
  bottom: 126px;
  left: 250px;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.return:focus{
  outline: none;
}
.flipped, .hovercard:hover {
  transform: rotateY(180deg);
}
/* .flipped .front, .hovercard:hover .front {
  
}
.flipped .back, .hovercard:hover .back {
 
} */

/* ////////////////////////////////////////////////// */

.back2{
  overflow: hidden;
  z-index: -1;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.back2::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
 
  transform: rotateY(180deg);
}
.front,  .back2{
  transition: all .5s linear;
}
/* Front Card */


.flip-me2{
  position: absolute;
  width: 110px;
  left: 223px;
  top:621px;
  font-size: 14px;
  font-family: verdana;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: .5s linear;
  cursor: pointer;
}
.flip-me2:hover,
.flip-me2:active{

}
.flip-me2:active{
  box-shadow: none;
}

/* Back Card */
.back2 {
}
.undo{
  width: 20px;
}

.return2{
  position: absolute;
  bottom: 0;
  bottom: 63px;
  left: 250px;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.return2:focus{
  outline: none;
}
.flipped, .hovercard:hover {
  transform: rotateY(180deg);
}

