@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0D3360;
    --main-color-dark: #3660d4;
    --main-color-light: #2b528d;
    --text-color: #cfcde7;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: #0b1437;
    min-height: 100vh;
    display: flex;
    position: relative;
    margin: 20px;
    padding: 0;
}

/* main {
    flex: 1;
    padding: 2rem;
    color: #1f2027;
    display: flex;
    flex-direction: column;
}

.maincontent {
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    flex-wrap: wrap;
    align-content: space-between;
} */

.containerhome{
    width: 100%;
    /* margin: 11px 45px; */
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
}
.contenthome {
    background: #111c44;
    border-radius: 8px;
    padding: 20px 24px 20px 24px;
    display: flex;
    top: 30px;
    gap: 5px;
    align-items: center;
    justify-content:center;
    flex-shrink: 0;
    height: 110px;
    width: 94%;
    position: relative;
}

.rectangle-49 {
    border-radius: 10px;
    z-index: 5;
    width: 700px;
    height: 750px;
    position:absolute;
    top: 183px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.active-devices {
    color: #acacac;
    text-align: left;
    font: 400 14px "Poppins", sans-serif;
    position: absolute;
    left:1134px;
    top: 18px;
}

._23 {
    color: #cbd0da;
    text-align: left;
    font: 600 32px/100% "Poppins", sans-serif;
    position: absolute;
    left: 1134px;
    top: 60px;
}

.ellipse-3 {
    background: linear-gradient(
    201.18deg,
    rgba(211, 229, 255, 1) 0%,
    rgba(239, 255, 246, 1) 100%
    );
    border-radius: 50%;
    width: 84px;
    height: 84px;
    position: absolute;
    left:1027px;
    top: 13px;
}

.total-devices-plant {
    color: #acacac;
    text-align: left;
    font: 400 14px "Poppins", sans-serif;
    position: absolute;
    left:567px;
    top: 18px;
}

._24 {
    color: rgba(203, 208, 218, 0.79);
    text-align: left;
    font: 600 32px/100% "Poppins", sans-serif;
    position: absolute;
    left:567px;
    top: 60px;
}

.ellipse-32 {
    background: linear-gradient(
    201.18deg,
    rgba(211, 229, 255, 1) 0%,
    rgba(239, 255, 246, 1) 100%
    );
    border-radius: 50%;
    width: 84px;
    height: 84px;
    position: absolute;
    left:459px;
    top: 13px;
}

.total-user {
    color: #acacac;
    text-align: left;
    font: 400 14px "Poppins", sans-serif;
    position: absolute;
    left:840px;
    top: 18px;
}

._242 {
    color: #cbd0da;
    text-align: left;
    font: 600 32px/100% "Poppins", sans-serif;
    position: absolute;
    left: 840px;
    top: 60px;
}

.ellipse-33 {
    background: linear-gradient(
    201.18deg,
    rgba(211, 229, 255, 1) 0%,
    rgba(239, 255, 246, 1) 100%
    );
    border-radius: 50%;
    width: 84px;
    height: 84px;
    position: absolute;
    left:735px;
    top: 13px;
}

.total-devices {
    color: #acacac;
    text-align: left;
    font: 400 14px "Poppins", sans-serif;
    position: absolute;
    left:307px;
    top: 18px;
}

._80 {
    color: rgba(203, 208, 218, 0.79);
    text-align: left;
    font: 600 28px/100% "Poppins", sans-serif;
    position: absolute;
    left: 307px;
    top: 60px;
}

.ellipse-34 {
    background: linear-gradient(
    201.18deg,
    rgba(211, 229, 255, 1) 0%,
    rgba(239, 255, 246, 1) 100%
    );
    border-radius: 50%;
    width: 84px;
    height: 84px;
    position: absolute;
    left:205px;
    top: 13px;
}

.line-2 {
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 1px 0 0 0;
    width: 87px;
    height: 0px;
    position: absolute;
    left: 431px;
    top: 13px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

.line-4 {
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 1px 0 0 0;
    width: 87px;
    height: 0px;
    position: absolute;
    left:720px;
    top: 13px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

.line-3 {
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 1px 0 0 0;
    width: 87px;
    height: 0px;
    position: absolute;
    left:989px;
    top: 13px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

.location-1-1 {
    width: 42px;
    height: 42px;
    position: absolute;
    left:480px;
    top: 35px;
}

.electric-meter-1-1 {
    width: 45px;
    height: 45px;
    position: absolute;
    left:1045px;
    top: 35px;
}

.speedometer-1-1 {
    width: 50px;
    height: 50px;
    position: absolute;
    left:222px;
    top: 35px;
}

.group-14 {
    width: 42px;
    height: 42px;
    position: static;
}

.group-10 {
    width: 42px;
    height: 42px;
    position: static;
}

.vuesax-linear-profile-2-user {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 908px;
    top: 111px;
}

.vuesax-linear-profile-2-user2 {
    position: absolute;
    inset: 0;
}

.profile-2-user {
    position: absolute;
    left:755px;
    top: 35px;
    overflow: visible;
}

.search-container {
   gap: 3px;
    float: right;
    display: flex;
    align-items: center;
    background-color: #111c44; /* Gray background color */
    border-radius: 5px;
    padding: 5px;
    max-width: 300px; /* Adjust the maximum width as needed */
  }
  
  .search-input {
    flex: 1;
    border: none;
    background: transparent; /* Transparent input background */
    outline: none;
    padding: 5px;
    font-size: 16px;
    color: #333; /* Text color */
  }
  
  .search-icon {
    max-width: 20px; /* Adjust the maximum width of the search icon */
    margin-right: 5px; /* Adjust the margin as needed */
  }
  
