/* ///////////////////////////////////////////////// */
.container{
  width: 100%;
  margin: 9px 70px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  flex-direction: row;
}

.card{
  width: 350px;
  height: 220px;
  perspective: 1000px;
  font-family: verdana;
  border-radius: 10px;
}
.card__inner{
  width: 100%;
  height: 220px;
  transform-style: preserve-3d;
  transition: all .5s linear;
  border-radius: 10px;
  background: #111c44;
}
.face{
  position: absolute;
  width:100%;
  height: 100%;
  left: 10px;
  top: 1px;
  backface-visibility: hidden;
  border-radius: 10px;
}
.back{
  overflow: hidden;
  z-index: -1;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.back::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
 
  transform: rotateY(180deg);
}
.front,  .back{
  transition: all .5s linear;
}
/* Front Card */
.front{
  z-index: 1;
}

.flip-me{
  position: absolute;
  width: 110px;
  left: 223px;
  top: 620px;
  font-size: 14px;
  font-family: verdana;
  font-weight: bold;
  margin: 0 auto;
  transition:.5s linear;
  cursor: pointer;
}
.flip-me:hover,
.flip-me:active{

}
.flip-me:active{
  box-shadow: none;
}

/* Back Card */
.back {
}
.undo{
  width: 20px;
}

.return{
  position: absolute;
  bottom: 0;
  bottom: 126px;
  left: 250px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.return:focus{
  outline: none;
}
.flipped, .hovercard:hover {
  transform: rotateY(180deg);
}

/* /////////////////////////////////////// */
.back2{
  overflow: hidden;
  z-index: -1;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.back2::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
 
  transform: rotateY(180deg);
}
.front2,  .back2{
  transition: all .5s linear;
}
/* Front Card */


.flip-me2{
  position: absolute;
  width: 110px;
  left: 223px;
  top:621px;
  font-size: 14px;
  font-family: verdana;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  transition:.5s linear;
  cursor: pointer;
}
.flip-me2:hover,
.flip-me2:active{

}
.flip-me2:active{
  box-shadow: none;
}

/* Back Card */
.back2 {
}
.undo2{
  width: 20px;
}

.return2{
  position: absolute;
  bottom: 0;
  bottom: 63px;
  left: 250px;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.return2:focus{
  outline: none;
}
.flipped, .hovercard:hover {
  transform: rotateY(180deg);
}
/* /////////////////////////////////////////////////////////////////////// */

.dashboard,
.dashboard * {
  box-sizing: border-box;
}
.dashboard {
  background: #0b1437;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.desktop-container {
  background: #04214d;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 260px;
  height: 984px;
  position: absolute;
  left: 16px;
  top: 20px;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 223px;
  position: relative;
}
.logo {
  /* padding: 8px; */
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.reactive-energy-raw-blue {
  flex-shrink: 0;
  width: 201px;
  height: 66px;
  position: relative;
}
.top-items {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.top-items2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nav-text-item {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.u-home-alt {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
/* .label {
  color: #c8d7ed;
  text-align: left;
  font: 500 16px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
} */
.u-angle-down {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.badge {
  background: var(--bannerred, #ff472e);
  border-radius: 2000px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._2 {
  color: var(--white, #ffffff);
  text-align: center;
  font: 400 12px/16px "Inter", sans-serif;
  position: relative;
}
.nav-text-item2 {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.u-create-dashboard {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.label2 {
  color: #e5eef9;
  text-align: left;
  font: 500 16px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.u-angle-down2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.content3 {
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.iconly-regular-outline-chart {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.chart {
  position: absolute;
  left: 0.83px;
  top: 0.83px;
  overflow: visible;
}
.analytic-data {
  color: #c8d7ed;
  text-align: left;
  font: 500 16px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.nav-text-item3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.u-clock-five {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.u-angle-down3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.iconly-regular-light-folder {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.folder {
  position: absolute;
  left: 1.87px;
  top: 1.88px;
  overflow: visible;
}
.management {
  color: #c8d7ed;
  text-align: left;
  font: 500 16px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.u-angle-down4 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -20px);
  overflow: visible;
}
.u-bell {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.alarm {
  color: #c8d7ed;
  text-align: left;
  font: 500 16px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.u-angle-down5 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -20px);
  overflow: visible;
}
.u-setting {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.settings {
  color: #c8d7ed;
  text-align: left;
  font: 500 16px/20px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.u-angle-down6 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -20px);
  overflow: visible;
}
.content4 {
  border-radius: 4px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 6px;
  position: relative;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 216px;
  position: relative;
}
.bottom-icons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.u-sign-out-alt {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.u-angle-down7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.profile {
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.display-picture-variants {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.display-picture {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-1 {
  background: var(--white, #ffffff);
  border-radius: 7000px;
  border-style: solid;
  border-color: var(--offline-gray, #d9d9d9);
  border-width: 1px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
._59 {
  border-radius: 282.34px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mupa-jelingau {
  color: #dbe3ee;
  text-align: left;
  font: 400 14px/16px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.scada-engineer {
  color: #c8d7ed;
  text-align: left;
  font: 400 14px/14px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.group-1000003738 {
  position: absolute;
  width: 0;
  height: 0;
  inset: 0;
}
.group-1000003655 {
  width: 354px;
  height: 23px;
  position: static;
}
.reactive-energy-sdn-bhd-petaling-jaya-selangor {
  color: #fff9f9;
  text-align: left;
  font: 400 16px "Roboto", sans-serif;
  position: absolute;
  left: 134px;
  top: 54px;
  width: 354px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location-1-1 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 83px;
  top: 48px;
}
.top-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 195px;
  position: absolute;
  left: 301px;
  top: 127px;
}
.goals {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 195px;
  position: relative;
}
.goals2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 200px;
  position: relative;
}
.content5 {
  background: #111c44;
  border-radius: 8px;
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 220px;
  position: relative;
}
.header {
  border-style: solid;
  border-color: var(--gray-06, #f3f3f3);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 304px;
  position: relative;
}
.frame-40639 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 303px;
  position: relative;
}
.phase-voltage-v {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 176px;
}
.group-4044 {
  flex-shrink: 0;
  width: 126.5px;
  height: 24px;
  position: static;
}
.group-4045 {
  width: 126.5px;
  height: 24px;
  position: static;
}
.real-data {
  border: none;
  text-align:center;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 212px;
  top: 8px;
  width: 80px;
  background-color: transparent;
}
.chevron-right {
  position: absolute;
  left: 282.02px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left {
  position: absolute;
  left: 185px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.details {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 93px;
  position: relative;
}
.left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 130px;
  position: relative;
}
.target-achieved {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.l-1-0-v {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  /* width: 116px; */
}
.l-2-0-v {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  /* width: 116px; */
}
.l-3-240-v {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  /* width: 116px; */
}
.line-voltage-v {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 178px;
}
.group-40442 {
  flex-shrink: 0;
  width: 125.5px;
  height: 24px;
  position: static;
}
.group-40452 {
  width: 125.5px;
  height: 24px;
  position: static;
}
.real-data2 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 216.5px;
  top: 8px;
  width: 78px;
}
.chevron-right2 {
  position: absolute;
  left: 283.26px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left2 {
  position: absolute;
  left: 187px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.l-12-0-v {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-13-0-v {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-32-0-v {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.target-vs-achievement-meter {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.graph {
  color: #f3e9e9;
  text-align: left;
  font: 400 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 223px;
  top: 7px;
  width: 40.41px;
}
.graph2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-133534 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
/* .meter {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
} */
.target-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 144px;
  position: relative;
}
._0-v {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: var(--medium-12-16, 500 12px/16px "Inter", sans-serif);
  position: relative;
  width: 26px;
}
._0-v2 {
  color: #f3e9e9;
  text-align: center;
  font: var(--regular-14-20, 400 14px/20px "Inter", sans-serif);
  position: relative;
  width: 71px;
}
._1-k-v {
  color: var(--gray-04, #d1d1d1);
  text-align: right;
  font: var(--medium-12-16, 500 12px/16px "Inter", sans-serif);
  position: relative;
  width: 32px;
}
.phase-current-a {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 196px;
}
.details2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 93px;
  position: relative;
}
.left-content2 {
  flex-shrink: 0;
  width: 280px;
  height: 93px;
  position: relative;
}
.l-1-24-a {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-2-24-a {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-3-24-a {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.neutral-0-a {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.target-vs-achievement-meter2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  position: relative;
}
.graph3 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 152px;
  position: relative;
}
.frame-1335342 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter2 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
.target-range2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 151px;
  position: relative;
}
._0-a {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 26px;
}
._7-22-a {
  color: #f3e9e9;
  text-align: center;
  font: 400 14px/20px "Roboto", sans-serif;
  position: relative;
  width: 71px;
}
._100-a {
  color: var(--gray-04, #d1d1d1);
  text-align: right;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 32px;
}
.top-content2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 200px;
  position: relative;
}
.active-power-k-w {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 178px;
}
.group-1000003739 {
  flex-shrink: 0;
  width: 120.5px;
  height: 24px;
  position: static;
}
.group-40453 {
  width: 120.5px;
  height: 24px;
  position: static;
}
.real-data3 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 214.72px;
  top: 8px;
  width: 64.49px;
}
.chevron-right3 {
  position: absolute;
  left: 279.42px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left3 {
  position: absolute;
  left: 187px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.l-1-0-w {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-2-0-w {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-3-0-w {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.frame-1335343 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter3 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._0-w {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: var(--medium-12-16, 500 12px/16px "Inter", sans-serif);
  position: relative;
  width: 26px;
}
._0-w2 {
  color: #f3e9e9;
  text-align: center;
  font: var(--regular-14-20, 400 14px/20px "Inter", sans-serif);
  position: relative;
  width: 71px;
}
._0-m-w {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: var(--medium-12-16, 500 12px/16px "Inter", sans-serif);
  position: relative;
  width: 41px;
}
.reactive-power-k-var {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 193px;
}
.group-40443 {
  flex-shrink: 0;
  width: 108.5px;
  height: 24px;
  position: static;
}
.group-40454 {
  width: 108.5px;
  height: 24px;
  position: static;
}
.real-data4 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 227.33px;
  top: 8px;
  width: 67.87px;
}
.chevron-right4 {
  position: absolute;
  left: 285.22px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left4 {
  position: absolute;
  left: 202px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.left-content3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 98px;
  position: relative;
}
.l-1-0-k-va {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-2-0-k-va {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-3-0-k-va {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.graph4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  position: relative;
}
.frame-1335344 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter4 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
.target-range3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 148px;
  position: relative;
}
._0 {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 26px;
}
._0-k-var {
  color: #f3e9e9;
  text-align: center;
  font: 400 14px/20px "Roboto", sans-serif;
  position: relative;
  width: 71px;
}
._1-k-var {
  color: var(--gray-04, #d1d1d1);
  text-align: right;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 37px;
}
.apparent-power-k-va {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 178px;
}
.real-data5 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 212.5px;
  top: 8px;
  width: 65px;
}
.chevron-right5 {
  position: absolute;
  left: 270.22px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left5 {
  position: absolute;
  left: 187px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.details3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 97px;
  position: relative;
}
.left-content4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 97px;
  position: relative;
}
.l-1-0-va {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-2-0-va {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-3-0-va {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.graph5 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 157px;
  position: relative;
}
.frame-1335345 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter5 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._0-va {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 26px;
}
._0-va2 {
  color: #f3e9e9;
  text-align: center;
  font: 400 14px/20px "Roboto", sans-serif;
  position: relative;
  width: 71px;
}
._10-k-va {
  color: var(--gray-04, #d1d1d1);
  text-align: right;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 39px;
}
.top-content3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 195px;
  position: absolute;
  left: 301px;
  top: 549px;
}
.phase-angle-voltage {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 178px;
}
.group-10000037392 {
  flex-shrink: 0;
  width: 116px;
  height: 24px;
  position: static;
}
.group-40455 {
  width: 116px;
  height: 24px;
  position: static;
}
.real-data6 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 214.82px;
  top: 8px;
  width: 60.89px;
}
.chevron-right6 {
  position: absolute;
  left: 275.97px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left6 {
  position: absolute;
  left: 187px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.l-1-0 {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-2-0 {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-3-0 {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.frame-1335346 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter6 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._02 {
  color: #f3e9e9;
  text-align: center;
  font: var(--regular-14-20, 400 14px/20px "Inter", sans-serif);
  position: relative;
  width: 71px;
}
.phase-angle-current {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 186px;
}
.real-data7 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 222.82px;
  top: 8px;
  width: 60.89px;
}
.chevron-right7 {
  position: absolute;
  left: 283.97px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left7 {
  position: absolute;
  left: 195px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.graph6 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1335347 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter7 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._03 {
  color: #f3e9e9;
  text-align: center;
  font: 400 14px/20px "Roboto", sans-serif;
  position: relative;
  width: 71px;
}
.frequency-hz {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 190px;
}
.group-40456 {
  flex-shrink: 0;
  width: 108.5px;
  height: 24px;
  position: static;
}
.real-data8 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 224.5px;
  top: 8px;
  width: 65px;
}
.chevron-right8 {
  position: absolute;
  left: 282.22px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left8 {
  position: absolute;
  left: 199px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.l-1-0-hz {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-2-0-hz {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.l-3-0-hz {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.frame-1335348 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter8 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._0-hz {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: var(--medium-12-16, 500 12px/16px "Inter", sans-serif);
  position: relative;
  width: 30px;
}
._0-hz2 {
  color: #f3e9e9;
  text-align: center;
  font: var(--regular-14-20, 400 14px/20px "Inter", sans-serif);
  position: relative;
  width: 71px;
}
._60-hz {
  color: var(--gray-04, #d1d1d1);
  text-align: right;
  font: var(--medium-12-16, 500 12px/16px "Inter", sans-serif);
  position: relative;
  width: 39px;
}
.top-content4 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 195px;
  position: absolute;
  left: 301px;
  top: 762px;
}
.total-harmonic-u {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 193px;
}
.real-data9 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 227.5px;
  top: 8px;
  width: 65px;
}
.chevron-right9 {
  position: absolute;
  left: 285.22px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left9 {
  position: absolute;
  left: 202px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.left-content5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 97px;
  position: relative;
}
.target-achieved2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 22px;
  position: relative;
}
.frame-1335349 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter9 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._04 {
  color: #f3e9e9;
  text-align: center;
  font: 400 14px/20px "Roboto", sans-serif;
  position: relative;
  width: 63px;
}
.top-content5 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 195px;
  position: absolute;
  left: 673px;
  top: 762px;
}
.total-harmonic-i {
  color: #f3e9e9;
  text-align: left;
  font: 700 16px/32px "Roboto", sans-serif;
  position: relative;
  width: 193px;
}
.chevron-right10 {
  position: absolute;
  left: 285.22px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left10 {
  position: absolute;
  left: 202px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.neutral-0 {
  color: #f3e9e9;
  text-align: left;
  font: 400 16px/16px "Roboto", sans-serif;
  position: relative;
  width: 116px;
}
.frame-13353410 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter10 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._05 {
  color: #f3e9e9;
  text-align: center;
  font: 400 14px/20px "Roboto", sans-serif;
  position: relative;
  width: 64px;
}
.top-content6 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 195px;
  position: absolute;
  left: 1045px;
  top: 761px;
}
.power-factor {
  color: #f3e9e9;
  text-align: left;
  font: 700 18px/32px "Roboto", sans-serif;
  position: relative;
  width: 192px;
}
.real-data10 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 226.5px;
  top: 8px;
  width: 65px;
}
.chevron-right11 {
  position: absolute;
  left: 284.22px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left11 {
  position: absolute;
  left: 201px;
  top: 28px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.frame-13353411 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter11 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
.target-range4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 152px;
  position: relative;
}
._06 {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 34px;
}
._1 {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: 500 12px/16px "Roboto", sans-serif;
  position: relative;
  width: 38px;
}
.breadcrumb {
  position: absolute;
  inset: 0;
}
.text2 {
  width: 1089.31px;
  height: 40px;
  position: static;
}
.pages-dashboard {
  text-align: left;
  font: 400 14px/150% "Roboto", sans-serif;
  position: absolute;
  left: 301px;
  top: 22.25px;
  width: 771.83px;
  height: 16.43px;
}
.pages-dashboard-span {
  color: var(--black-amp-white-white, #ffffff);
  font: 400 14px/150% "Roboto", sans-serif;
}
.pages-dashboard-span2 {
  color: #000000;
  font: 400 14px/150% "Roboto", sans-serif;
}
.pages-dashboard-span3 {
  color: var(--black-amp-white-white, #ffffff);
  font: 400 14px/150% "Roboto", sans-serif;
}
.group-1000003669 {
  width: 158.31px;
  height: 40px;
  position: static;
}
.group-1000003668 {
  width: 158.31px;
  height: 40px;
  position: static;
}
.group-1000003659 {
  width: 40px;
  height: 40px;
  position: static;
}
.rectangle-5058 {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1232px;
  top: 20px;
}
.group-1000003657 {
  width: 22px;
  height: 24px;
  position: static;
}
.bell-2 {
  position: absolute;
  left: 1241.57px;
  top: 30.54px;
  overflow: visible;
}
.ellipse-2823 {
  background: #dc3545;
  border-radius: 50%;
  border-style: solid;
  border-color: #b3b8c4;
  border-width: 1px;
  width: 7.33px;
  height: 7.38px;
  position: absolute;
  left: 1252.57px;
  top: 28.7px;
}
.group-1000003662 {
  width: 99.31px;
  height: 20px;
  position: static;
}
.group-1000003663 {
  width: 99.31px;
  height: 20px;
  position: static;
}
.english {
  color: #cbd3da;
  text-align: center;
  font: var(--_14-medium, 500 14px/20px "Inter", sans-serif);
  position: absolute;
  left: 1323.56px;
  top: 30px;
  width: 48.66px;
}
.chevron-down-2-1 {
  position: absolute;
  left: 1376.41px;
  top: 33px;
  overflow: visible;
}
.frame {
  width: 22.63px;
  height: 12px;
  position: absolute;
  left: 1291px;
  top: 34px;
  overflow: hidden;
}
.vector14 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vector15 {
  position: absolute;
  left: 0px;
  top: 1.38px;
  overflow: visible;
}
.vector-stroke4 {
  position: absolute;
  left: 0px;
  top: 0.92px;
  overflow: visible;
}
.vector16 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group {
  position: absolute;
  inset: 0;
}
.s-18 {
  width: 0.7px;
  height: 0.67px;
  position: static;
}
.s-9 {
  width: 0.7px;
  height: 0.67px;
  position: static;
}
.s-5 {
  width: 0.7px;
  height: 0.67px;
  position: static;
}
.s-4 {
  position: absolute;
  left: 0.41px;
  top: 0.28px;
  overflow: visible;
}
.group-40444 {
  position: absolute;
  inset: 0;
  right: 100px;
}
.real-data11 {
  color: #f3e9e9;
  text-align: left;
  font: 500 14px/20px "Roboto", sans-serif;
  position: absolute;
  left: 1286.5px;
  top: 158px;
  width: 78px;
}
.chevron-right12 {
  position: absolute;
  left: 1353.26px;
  top: 178px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.chevron-left12 {
  position: absolute;
  left: 1257px;
  top: 178px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 244px;
  position: absolute;
  left: 1153px;
  top: 72px;
}
.select {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contents {
  padding: 8px 0px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dashboard-1-1 {
  flex-shrink: 0;
  width: 24px;
  height: 17px;
  position: relative;
}
.field-text {
  color: #9a9ea5;
  text-align: left;
  font: 400 16px/28px "Roboto", sans-serif;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon25 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.line {
  border-style: solid;
  border-color: #e2e4e5;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.target-vs-achievement-meter3 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 460px;
  top: 209px;
}
.frame-13353412 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.meter12 {
  margin: -37px 0 0 0;
  flex-shrink: 0;
  position: absolute;
  left: 58px;
  top: 32px;
  overflow: visible;
}
._0-v3 {
  color: #f3e9e9;
  text-align: center;
  font: var(--regular-14-20, 400 14px/20px "Inter", sans-serif);
  position: relative;
  width: 63px;
}
._1-k-v2 {
  color: var(--gray-04, #d1d1d1);
  text-align: center;
  font: var(--medium-12-16, 500 12px/16px "Inter", sans-serif);
  position: relative;
  width: 32px;
}

/* //////////////////////////////////////////////////// */
html, body
{
  padding: 0;
  margin: 0;
}

body,
.dial
{
  background-color: #0b1437;
  overflow: hidden;
  
}

/* .gauge
{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 380px;
  left: 38%;
  margin-left: -250px;
  border-radius: 100%;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);

} */

.meter
{
  margin: 0;
  padding: 0;
}

.meter > li
{
  width: 250px;
  height: 250px;
  list-style-type: none;
  position: absolute;
  border-top-left-radius: 250px;
  border-top-right-radius: 0px;
  transform-origin:  100% 100%;;
  -webkit-transform-origin:  100% 100%;;
  -ms-transform-origin:  100% 100%;;
  transition-property: -webkit-transform;
  pointer-events: none;
}

.meter .low
{
  transform: rotate(0deg); /* W3C */
  -webkit-transform: rotate(0deg); /* Safari & Chrome */
  -moz-transform: rotate(0deg); /* Firefox */
  -ms-transform: rotate(0deg); /* Internet Explorer */
  -o-transform: rotate(0deg); /* Opera */
  z-index: 8;
  background-color: #09B84F;
}

.meter .normal
{
  transform: rotate(47deg); /* W3C */
  -webkit-transform: rotate(47deg); /* Safari & Chrome */
  -moz-transform: rotate(47deg); /* Firefox */
  -ms-transform: rotate(47deg); /* Internet Explorer */
  -o-transform: rotate(47deg); /* Opera */
  z-index: 7;
  background-color: #FEE62A;
}

.meter .high
{
  transform: rotate(90deg); /* W3C */
  -webkit-transform: rotate(90deg); /* Safari & Chrome */
  -moz-transform: rotate(90deg); /* Firefox */
  -ms-transform: rotate(90deg); /* Internet Explorer */
  -o-transform: rotate(90deg); /* Opera */
  z-index: 6;
  background-color: #FA0E1C;
}


.dial,
.dial .inner
{
  width: 470px;
  height: 470px;
  position: relative;
  top: 10px;
  left: 5px;
  border-radius: 100%;
  border-color: purple;
  z-index: 10;
  transition-property: -webkit-transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: rotate(0deg); /* W3C */
  -webkit-transform: rotate(0deg); /* Safari & Chrome */
  -moz-transform: rotate(0deg); /* Firefox */
  -ms-transform: rotate(0deg); /* Internet Explorer */
  -o-transform: rotate(0deg); /* Opera */
}

.dial .arrow
{
  width: 0; 
  height: 0; 
  position: absolute;
  top: 214px;
  left: 24px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 32px solid #FFFFFF;
  -webkit-transform: rotate(-88deg); /* Safari & Chrome */
  -moz-transform: rotate(88deg); /* Firefox */
  -ms-transform: rotate(88deg); /* Internet Explorer */
  -o-transform: rotate(88deg); /* Opera */

}

.gauge .value
{
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  color: #ffffff;
  position: absolute;
  top: 142px;
  left: 45%;
  z-index: 11;
}