        /* Styling */
        body {
            font-family: Arial, sans-serif;
            padding: 20px; /* This will give a slight spacing from the top and left edges */
            background-color: #0B1437;
            color: #EAEAEA; /* Light gray for contrast */
            margin: 0px;
            
}

form {
background-color: #0B1437;
padding: 20px 40px; /* Additional padding to sides */
border-radius: 5px;
max-width: 400px;

}

label, select, input[type="text"] {
margin-bottom: 20px; /* Consistent spacing */
}

select, button, input[type="text"] {
width: 100%;
padding: 12px;
border: 1px solid #3B4758;
border-radius: 4px;
background-color: #3B4758;
color: #e7dede;
}

/* Button Styling */
input[type="submit"], button {
width: calc(50% - 10px);
padding: 12px;
border-radius: 4px;
margin: 0;
font-size: 16px;
font-weight: bold;
transition: opacity 0.3s, transform 0.3s;
display: inline-block;
}

input[type="submit"] {
background-color: #4CAF50;
color: white;
cursor: pointer;
border: none;
margin-right: 10px; /* Spacing between buttons */
}

button {
background-color: #f44336;
}

/* Hover effects for buttons */
input[type="submit"]:hover, button:hover {
opacity: 0.8;
transform: translateY(-2px);
}

input[type="submit"]:active, button:active {
transform: translateY(0);
}
label {
display: block;
margin-bottom: 10px;  /* Adjust this value to increase or decrease the space after the label */
}

.mandatory {
color: red;
font-weight: bold;
}

.title-container-1 h2 {
font-weight: normal;
margin:10px;
}