        /* Basic CSS styles for the page */
        body {
            font-family: Arial, sans-serif;
            background-color: #0B1437;
            color: #f2f2f2;
            margin-left: 30px;
            margin-right: 30px;
        }

        label {
            font-weight: bold;
        }

        select, input[type="date"]{
            padding: 10px; 
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            color: black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #0E183F;
        }
        button {
            padding: 10px 20px;
            background-color: #10428D;
            color: #fff;
            border:1px solid #f2f3f5;
            cursor: pointer;
            font-size: 16px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        button.custom-button {
            padding: 10px 20px;
            background-color: #10428D;
            color: #fff;
            border:1px solid #f2f3f5;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        button.custom-button:hover {
            background-color: #0056b3;
        }
        
        footer {
            text-align: center;
            margin-top: 20px;
            padding-top: 10px;
            border-top: 1px solid #ccc;
            color: #666;
        }

        /* Add your additional CSS styles for tabs and tab content here */

        /* Tab styles */
        .tab {
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 20px;
            transition: 0.3s;
            color: #D3D3D6;
            font-size: 16px;
        }

        .tab button:hover {
            /* background-color: #007BFF; */
            color: #fff;
        }

        /* Tab content styles */
        .tabcontent {
            display: none;
        }

        /* Add styles for active tab here */
        .tab button.active-tab {
            border-bottom: 4px solid #007BFF;
            color: #ced5dd;
        }
        input#day{
            padding: 10px;
        }

        date-filter month-filter
        {
            padding: 10px;
        }